@page
@model Blue_Sakura_Website.Pages.PersonalPage.PersonalListPageModel
@{
}

<div class="overview_container">

    <table class="overview_table">

        <tr class="overview_table_header">
            <th></th>
            <th>Title</th>
            <th>Status</th>
            <th>Progress</th>
            <th></th>
        </tr>

        @foreach (Blue_Sakura_Logic.PersonalEntertainmentCollection.PersonalEntertainment p in Model.personalEntertainments)
        {
            Blue_Sakura_Logic.EntertainmentCollection.Entertainment Entertainment = @Blue_Sakura_Logic.DAL.EntertainmentDAL.GetEntertainment(p.EntertainmentID);

            <tr>
                <td><img src="~/img/@Blue_Sakura_Logic.DAL.EntertainmentDAL.GetEntertainment(p.EntertainmentID).Picture" class="overview_poster"></td>
                <td class="overview_table_title"><a asp-page="/PersonalPage/PersonalIndividualPage" asp-route-EntertainmentID="@p.EntertainmentID">@Entertainment.Title</a></td>
                <td>@p.Status</td>
                <td>
                    @p.Progress/
                    @if (Entertainment is Blue_Sakura_Logic.EntertainmentCollection.Anime)
                    {
                        @(((Blue_Sakura_Logic.EntertainmentCollection.Anime)Entertainment).NrOfEpisode)
                    }
                    else if (Entertainment is Blue_Sakura_Logic.EntertainmentCollection.Manga)
                    {
                        @(((Blue_Sakura_Logic.EntertainmentCollection.Manga)Entertainment).Chapters)
                    }
                </td>
                <td><a asp-page-handler="RemoveFromList" asp-route-entertainmentId="@p.EntertainmentID" style="text-decoration:none; color:aliceblue;">Remove</a></td>
            </tr>
        }

    </table>

</div>